#body-main-container{
  //background-color: red;
  background-color: #F6F7FB !important;
}

#main-component{
  width: 100% !important;
  overflow: auto;
  //background-color: red;
  background-color: #F6F7FB !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-bottom: 10px;
}

#sub-component{
  margin: 0 !important;
  padding: 0 !important;
  position: relative !important;

  background-color: #F6F7FB !important;
  //background-color: green;
  overflow-x: hidden !important;
}


#body-row {
  margin-left:0;
  margin-right:0;
  flex-wrap: nowrap !important;
  background-color: #F6F7FB;
}

#sidebar-container {
  // min-height: 100vh;
  background-color: #F6F7FB;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 0;
  position: relative;
  /* box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 6px 5px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.25); */


  //border-radius: 8px !important;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.05);
  background: white;
}

/* Menu item*/
#sidebar-container .list-group a {
  /* height: 50px; */
  color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
  height: 45px;
  padding-left: 30px;
}
.sidebar-submenu {
  font-size: 13px;
}

/* Separators */
.sidebar-separator-title {
  background-color: #333;
  height: 35px;
}
.sidebar-separator {
  background-color: #333;
  height: 25px;
}
.logo-separator {
  background-color: #333;
  height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}

